@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-eloom-surface text-eloom-dark antialiased;
  font-family: 'Pretendard', sans-serif;
  }
}

.traditional-text {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

@keyframes scrolldown {
  0% { transform: translateY(-100%); opacity: 0; }
  50% { opacity: 1; }
  100% { transform: translateY(200%); opacity: 0; }
}
